.top-bg{
    padding-right: 20px;
    padding-left: 20px;
}
.body-pad-top{
    padding-top: 85px !important;
}
.body-bg{
    background-color: #fff !important;
}
.new-index-nav{
    padding: 0px !important;
    border: 1px #eaeaea solid !important;
    background-color: #fff !important;
}
.nav-item{
    min-height: 48px;
    position: relative;
    top: 3px;
}
.body-pad-top .new-index-nav .active{
    border-bottom: 2px #2196f3 solid;
}
.card-title a{
    color: #000
}