.shop-img img{
    height: 80px;
}
.shop-img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
}
.shop-content{
    margin-left: 90px;
}
.shop-content p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}