.logo-cart{
    overflow: hidden;
    position: relative;
}
.logo-cart img{
    float: left;
}
.logo-cart h3{
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #5f6368;
}
.shop-cart-ul{
    padding-left: 0px;
}
.shop-cart-box{
    margin-top: 20px;
}